# 1. Setup

#### Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from functools import partial
import io
import os
from IPython.display import clear_output

# Import from fastai
import fastai
from fastai import *
from fastai.text import * 

# Import from nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk import bigrams, FreqDist

# Import from sklearn
from sklearn.model_selection import train_test_split

In [ ]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Get device name
torch.cuda.get_device_name(0)

'Quadro P6000'

# 2. Load the data

In [3]:
# Import the data
labeled_data = pd.read_csv('../0_datasets/labeled_data.csv')

# Have a look at the top 5 rows
labeled_data.head(n=5)

   label                                               text
0      4  The new rule is - \r\nif you are waiting for a...
1      3  Flirted with giving this two stars, but that's...
2      5  I was staying at planet Hollywood across the s...
3      2  Food is good but prices are super expensive.  ...
4      1  Worse company to deal with they do horrible wo...

In [4]:
# Import unlabeled data
test_data  = pd.read_csv('../0_datasets/test_data.csv')
unlabeled_data = pd.read_csv('../0_datasets/unlabeled_data.csv')

# Combine all the data (for training the language model)
all_data = pd.DataFrame(labeled_data['text']).append(test_data)
all_data = all_data.append(unlabeled_data)

# Check the length of the dataframe
print(len(all_data))
all_data[0:5]

700000

                                                text
0  The new rule is - \r\nif you are waiting for a...
1  Flirted with giving this two stars, but that's...
2  I was staying at planet Hollywood across the s...
3  Food is good but prices are super expensive.  ...
4  Worse company to deal with they do horrible wo...

# 3. Process the data

In [5]:
# Split to train and test sets
train_df, test_df = train_test_split(labeled_data, test_size=0.2, random_state=100)

In [6]:
# Print the dimensions
print(train_df.shape)
print(test_df.shape)

(40000, 2)
(10000, 2)

In [7]:
# Language model data
data_lm = (TextList.from_df(df=all_data, cols='text')
           .random_split_by_pct(0.1)
           .label_for_lm()
           .databunch(bs=192))

In [8]:
# Show the first few reviews
data_lm.show_batch()

In [9]:
# Classifier model data
data_clas = TextClasDataBunch.from_df(path = "", 
                                      train_df = train_df, 
                                      valid_df = test_df, 
                                      text_cols = 'text', 
                                      label_cols = 'label',
                                      vocab=data_lm.train_ds.vocab, 
                                      bs=32)

In [10]:
# Show the first few reviews
data_clas.show_batch()

# 4. Fine-Tuning the Pre-Trained Model

In [11]:
# Create the language model
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.3)

In [12]:
# Train the language model
learn.fit_one_cycle(1, 1e-2, moms=(0.8,0.7))

In [13]:
learn.save('first_epoch_feature_encoder')

In [14]:
learn.load('first_epoch_feature_encoder');

In [15]:
learn.unfreeze()

In [16]:
# Train the language model over 7 epochs
learn.fit_one_cycle(7, 1e-3, moms=(0.8,0.7))

In [17]:
# Save the encoder
learn.save_encoder('feature_encoder')

# 5. Train the Classifier

In [61]:
# Create the classifier
learn = text_classifier_learner(data_clas, AWD_LSTM, drop_mult=0.3)
learn.load_encoder('feature_encoder')
learn.freeze()

In [62]:
# Train the classifier
learn.fit_one_cycle(1, 2e-2, moms=(0.8,0.7))

In [63]:
learn.save('first_layer')

In [64]:
learn.load('first_layer');

In [65]:
# Train the classifier - next layer
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(1e-2/(2.6**4),1e-2), moms=(0.8,0.7))

In [66]:
learn.save('second_layer')

In [67]:
learn.load('second_layer');

In [68]:
# Train the classifier - next layer
learn.freeze_to(-3)
learn.fit_one_cycle(1, slice(5e-3/(2.6**4),5e-3), moms=(0.8,0.7))

In [69]:
learn.save('third_layer')

In [70]:
learn.load('third_layer');

In [71]:
# Train the classifier - all layers
learn.unfreeze()
learn.fit_one_cycle(1, slice(1e-3/(1.6**4),1e-3), moms=(0.8,0.7))

In [72]:
learn.save('final_classifier')

In [73]:
learn.load('final_classifier');

# 6. Make predictions on the test data

In [74]:
# Create function to get prediction
def get_prediction(review_as_string):
    global prediction_number
    clear_output(wait=True)
    prediction_number += 1
    print(f'Predictions made: {prediction_number}')
    return(str(learn.predict(review_as_string)[0]))

In [75]:
# Create a new dataframe for final output
final_predictions = pd.DataFrame(columns=['test_id', 'label'])

# Create test_ids
test_ids = []
for i in range(1,(len(test_data) + 1)):
    test_ids.append(f'test_{i}')

# Add test_id to the dataframe
final_predictions['test_id'] = test_ids

# Have a look at the first 5 rows
print(len(final_predictions))
final_predictions[0:5]

50000

  test_id label
0  test_1   NaN
1  test_2   NaN
2  test_3   NaN
3  test_4   NaN
4  test_5   NaN

In [76]:
# Get predictions
prediction_number = 0
final_predictions['label'] = test_data['text'].apply(get_prediction);

Predictions made: 50000

In [77]:
# Have a look at the first 5 rows
final_predictions[0:5]

  test_id label
0  test_1     4
1  test_2     4
2  test_3     1
3  test_4     5
4  test_5     4

In [78]:
# Save the predictions
final_predictions.to_csv('./predict_label.csv', index=False)